.items{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 15px 0 0 0;
}

.item{
    margin: 0 0 0 10px;
    color: #041e52;
}
.delete{
    width: 25px;
    height: 25px;
    margin: 0 0 0 10px;

}