.superInput {
    background: rgb(163, 118, 118);
    border: 3px solid rgb(4, 6, 83);
    margin: 0 0 20px 0;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}