.big:after{
    content: "";
    position: absolute;
    background-color: #000;
    width: 20px;

}

.link {
    width: 15px;
    height: 15px;
    text-decoration: none;
    font-size: 30px;
    margin: 0 0 0 20px;

}
